header {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 200%;
  text-align: center;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: burlywood;
  background-size: cover;
  text-align: center
  margin none; 
  border: none
}

#Uber {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  background-color: tan;
  border: 5px solid black;
  border-style: ridge;
  border-radius: 25px;
  max-width: 55%;
  margin: auto
}

article > li {
  font-size: 100%;
}

h1 {
  font-size: 125%;
}
